<div class="container">
  <div class="row">
    <div class="col">

      <h1>H1 HEADER</h1>

      <h2>H2 HEADER</h2>

      <h3>H3 HEADER</h3>

      <h4>H4 HEADER</h4>

      <p>Lorem ipsum dolor <span>Lorem ipsum dolor.</span> sit amet, consectetur adipisicing
        <span>Lorem ipsum dolor.</span> elit. Autem corporis id illum minima ratione? A assumenda
        atque, commodi corporis <span>Lorem ipsum dolor.</span> cumque dignissimos dolore error fuga <span>Lorem ipsum dolor.</span> maiores necessitatibus odit, quam quasi
        suscipit.</p>

      <div class="bg-dark">
        <app-topic></app-topic>
      </div>

      <div class="bg-light">
        <app-topic></app-topic>
      </div>

      <div class="bg-dark">
        <app-topic></app-topic>
      </div>

      <div class="bg-light">
        <app-topic></app-topic>
      </div>

    </div>
  </div>
</div>

